#wrapper {
	position: relative;
	padding: 0;
}
#wrapper img {
	position: absolute;
	top: 0;
	left: 0;
}
#canvas {
	position: absolute;
	top: 0;
	left: 0;
}
#identified, #options {
	float: left;
}
#idList, #opList {
	border: 1px solid #eee;
	width: 142px;
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	margin-right: 10px;
  }
  #idList li, #opList li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 120px;
  }
  .selected {
	border: 1px solid red;
  }
  .input-color {
	  position: relative;
  }
  .input-color input {
	  padding-left: 20px;
  }
  .input-color .color-box {
	  width: 10px;
	  height: 10px;
	  display: inline-block;
	  background-color: #ccc;
	  //position: absolute;
	  left: 5px;
	  top: 5px;
  }